h1 {
    color:rgb(22, 13, 200);
}

p {
    color:rgba(131, 32, 8, 0.932);
}

body {
    background-color:antiquewhite;
}

#buttons-table {
    background-color:grey;
}

#custom-background {
    background-image:url(myBackground.jpg);
}

#friends-image {
    width:250px;
    height:300px;
    float:left;
}

#skiing-image {
    width:250px;
    height:300px;
}

#baseball-image {
    width:250px;
    height:300px;
    float:right;
}